@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import
  'reset';


$primary: #fab0af;
$secondary: #df3737;
$terciary: #e94847;
$white: #fff;
$black: #000;


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: repeat url(../assets/background.jpg);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 400;
    padding-bottom: 30px;
    color: $secondary;
    text-shadow: 2px 2px 6px $black;
}

button {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: 400;
    outline: none;
    background: $terciary;
    color: $white;
    text-shadow: 2px 2px 4px $black;
    border: 4px dashed $white;
    border-radius: 10px;
    min-width: 180px;
    min-height: 80px;
    margin-bottom: 20px;
    &:hover {
        border: none;
        color: $secondary;
        text-shadow: 2px 2px 4px $black;
        background: linear-gradient(90deg, white 50%, transparent 50%), 
        linear-gradient(90deg, white 50%, transparent 50%), 
        linear-gradient(0deg, white 50%, transparent 50%), 
        linear-gradient(0deg, white 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
        border-radius: 10px;
        animation: dash 5s linear infinite;
    }
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

.container {
    width: 550px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -275px;
    margin-top: -190px;
    text-align: center;
    border: 15px dashed $white;
    background: $primary;
    border-radius: 60px;
    padding: 50px;
}

.column {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.col {
    &-2 {
        flex: 0 50%;
    }
}

